/**
* {{ properCase name }} container
* author: {{ author.name }}
* email: {{ author.email }}
*/

import React, { Component } from 'react'
import { connect } from 'dva'

export class {{ properCase name }} extends Component {
render () {
return (
<div>This is {{ properCase name }}!</div>
)
}
}

export default connect()({{ properCase name }})