/**
 * {{ properCase name }} component
 * author: {{ author.name }}
 * email: {{ author.email }}
 */

import React from 'react'

export class {{ properCase name }} extends React.Component {
  render () {
    return (
      <div>
        {{ properCase name }} component
      </div>
    )
  }
}

export default {{ properCase name }}
