/**
 * {{ properCase name }} component
 * author: {{ author.name }}
 * email: {{ author.email }}
 */

import React from 'react'

export function {{ properCase name }} (props) {
  return (
    <div>
      {{ properCase name }} component
    </div>
  )
}

export default {{ properCase name }}
